### Portfolio assignment 5
20 min: 
- Download lifeExpectancyAtBirth.csv from Brightspace ([original source](https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete?select=lifeExpectancyAtBirth.csv)).
- Move the file to the same folder as the Notebook that you will be working in.
- Load the dataset in your Notebook with the following code: lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
- Look at the dataset with the .head() function.
- Filter the dataframe: We only want the life expectancy data about 2019 and 'Both sexes'
- Use this dataframe to perform a univariate analysis on the life expectancy in 2019.
- Which five countries have the highest life expectancy? Which five the lowest?

Commit the notebook and dataset to your portfolio when you're finished.

In [1]:
import seaborn as sns
import pandas as pd

df = pd.read_csv('lifeExpectancyAtBirth.csv')

life_expectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

life_expectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [2]:
year_filter = (life_expectancy['Period'] == 2019) & (life_expectancy['Dim1'] == "Both sexes")
life_expectancy[year_filter].head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45

In [3]:
life_expectancy.describe()

            Period  First Tooltip
count  2197.000000    2197.000000
mean   2010.958580      70.226331
std       7.366765       8.929307
min    1920.000000      27.970000
25%    2000.000000      64.250000
50%    2010.000000      71.830000
75%    2015.000000      77.120000
max    2019.000000      86.940000

In [4]:
life_expectancy[year_filter]

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
2137,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
2149,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
2161,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
2173,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [5]:
life_expectancy.corr()

                 Period  First Tooltip
Period         1.000000       0.227479
First Tooltip  0.227479       1.000000

In [6]:
df = pd.read_csv('lifeExpectancyAtBirth.csv')

life_expectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
life_expectancy.corr()

                 Period  First Tooltip
Period         1.000000       0.227479
First Tooltip  0.227479       1.000000